
.container { width: 1200px; margin:0 auto; background: #ffffff;}

h1 {
   font-size: 40px;
   font-family: "Arial - Bold MT", sans-serif;
   color: #594448;
   text-transform: uppercase;
   white-space: nowrap;
   line-height: 48px;
   padding-top: 70px;
}

h2 {
   font-size: 36px;
	 font-family: "Copperplate Gothic", sans-serif;
   color: #594448;
   font-weight: 700;
   text-transform: uppercase;
}

p {
   font-size: 18px;
   font-family: "Arial", sans-serif;
   color: #ffffff;
   line-height: 24px;
}

header {
   background:#ffffff ;
   width: 1200px;
   height: 132px;
}

.top-menu {
   display: flex;
   padding-left: 665px;
   list-style: none;
}
.top-menu li {
   padding-top:73px;
   padding-left: 105px;
}

.top-menu a {
   text-decoration-line: none;
   color: #525252;
   font-family: "Arial MT", sans-serif;
   font-size: 18px;
}

#button {
  position:absolute;
  width: 300px;
  height: 64px;
  z-index: 4;
  margin-top:38px;
  padding-top: 0;
}

.send {
  position:absolute;
  top:520px;
  text-transform: uppercase;
  z-index: 5;
  margin-left: 204px;
}

.send a {
  text-decoration-line: none;
  color: #ffffff;
margin-left: -20px;
}

.top-image {
  display: flex;
  width: 577px;
  height: 558px;
  float: right;
  margin-right: -35px;
  padding-bottom: 69px;
}

#top-jpg {
  position: absolute;
  display: block;
  width: 577px;
  height: 558px;
  z-index: 0;
  clip-path: inset(0 35px 0 0);
}

.black-block {
  display: flex;
  width: 1200px;
  height: 417px;
  background:#131418;
}

.black-block div {
  width: 300px;
  height: 290px;
  margin-top:-27px;
}

.black-block h3 {
  margin:0;
  padding-top: 14px;
  color: #ffffff;
  font-family: "Arial - Bold MT", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.black-block p {
  padding-top: 32px;
  margin:0;
}

.icon-back {
  position: relative;
  display: block;
}

#icon-clock {
  position: absolute;
  margin-top: -90px;
  margin-left: 20px;
  z-index: 9;
}
#icon-mol {
  position: absolute;
  margin-top: -88px;
  margin-left: 22px;
  z-index: 9;
}

#icon-round {
  position: absolute;
  margin-top: -100px;
  margin-left: 13px;
  z-index: 9;
}

.block-size  { width: 295px; height: 189px;}

.shear-big   { margin-left:410px; }
.shear       { margin-left:111px; }
.shear-small { margin-left:50px;  }
.shear-right { margin-right:111px;}

.bio {
  position: relative;
  display: block;
  float:right;
  width: ;
  padding-top: 57px;

}

#shop {
  padding-top: 77px;
  width: 633px;
  height: 534px;
}

.cata {
  position: relative;
  float:left;
  width: ;
  height: 552px;
  padding-top: 169px;
  padding-bottom: -11px;
}

#client {
  padding-top: 82px;
  padding-bottom: 69px;
  width: 677px;
  height: 559px;
}

.table_price {
  border-collapse: collapse;
  border-left: 3px solid #594448;
  border-right: 3px solid #594448;
  border-bottom: 3px solid #594448;
  font-family: "Lucida Grande", sans-serif;
 }
.table_price caption {
  background: #594448; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price td, .table_price th {
  padding: 10px;
}
.table_price th {
  text-align: left;
  font-size: 18px;
}
.table_price tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}
.table_price a {
  display: inline-block;
  padding: 5px 10px;
  background: #FFDAB9;
  box-shadow: 2px 2px 0 0 #FFA07A;
  position: relative;
}
.table_price a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}

footer {
  position: relative;
	width: 1200px;
	height: 305px;
	background: #131418;
}

.b1 { padding-top: 30px;  padding-bottom: 26px;}
.b3 { text-align: right;  margin-top: -241px;  }
.b4 { text-align: right;  padding-top: 160px;  }


.icons-social {
  position: absolute;
  width: 52px;
  height: 52px;
  z-index: 3;
  bottom:180px;
  right: 170px;
}

.icons-social2 {
  position: absolute;
  width: 43px;
  height: 44px;
  z-index: 3;
  bottom:184px;
  right: 115px;
}
.contacts p { color: #ffffff;}
